/* reset.css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  border: none;
  cursor: pointer;
}

ul{
  list-style: none;
}