/* reset.css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  line-height: 1.5;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}